{%  extends 'index_psicologia.html' %}
{% block content %}
	<h1>Autorizaciones</h1>
		{% if autorizacion %}
		{% for s in autorizacion %}
			<div>
				<h2>{{s.paciente}}</h2>				
				<p>{{s.obra_social}}</p>
				<p>{{s.fecha_autorizacion}}</p>
				{% if s.presentada %}
					<p>Presentada: SI</p>
				{% endif %}
				<a class="btn btn-outline-info" href="editar/" title="">Editar</a>
				<a class="btn btn-outline-primary" href="eliminar/" title="">Eliminar</a>						
			</div>
		{% endfor %}
		{% else %}
		<p>No hay autorizaciones para mostrar</p>
		{% endif %}
	<br />
	<br />
	<a class="btn btn-outline-danger" href="http://localhost/psicologia/" title="">Volver</a>
{% endblock %}