<!DOCTYPE html>
<html>
<head>
	<title>Psicologia</title>
</head>
<body>
{% block content %}	
	<header id="header" class="">
		<h1>Sistema de administracion y consulta</h1>
	</header><!-- /header -->
	<nav>
		<ul>
			<li><a href="#" title="">Login</a></li>
			<li><a href="http://localhost/sesiones/" title="">Sesiones</a></li>
			<li><a href="http://localhost/facturadas/" title="">Sesiones Facturadas</a></li>			
			<li><a href="http://localhost/pendientes/" title="">Sesiones pendientes de facturar</a></li>
			<li><a href="http://localhost/pacientes/" title="">Pacientes</a></li>
			<li><a href="http://localhost/autorizaciones/" title="">Autorizaciones</a></li>
		</ul>
	</nav>	
	<div>
		
	</div>				
{% endblock %}	
</body>
