{%  extends 'index_psicologia.html' %}
{% block content %}
	<h1>Paciente</h1>
		{% if paciente %}
		{% for s in paciente %}
			<div>
				<h2>{{s.nombre}}{{s.apellido}}</h2>		
				<p>{{s.obra_social}}</p>	
				<a class="btn btn-outline-info" href="editar/" title="">Editar</a>
				<a class="btn btn-outline-primary" href="eliminar/" title="">Eliminar</a>					
			</div>
		{% endfor %}
		{% else %}
			<p>No hay pacientes para mostrar</p>
		{% endif %}
		<a href="http://localhost/psicologia/" title="">Volver</a>
{% endblock %}