<!DOCTYPE html>
<html>
<head>
	<title>Mi Principal</title>
</head>
<body>
{% block content %}	
	<header id="header" class="">
		<h1>Mi Biblioteca</h1>
	</header><!-- /header -->
	<nav>
		<ul>
			<li><a href="formulario_buscar/" title="">Ir a formulario de busqueda...</a></li>
			<li><a href="contactos/" title="">Ir a formulario de contactos...</a></li>
		</ul>
	</nav>	
	<div>
		<h1>Editores</h1>
		{% for e in editor %}
		<div>
			<h2>Nombre: {{e.nombre}}</h2>
			<p>Website: {{e.website}}</p>	
		</div>
		{% endfor %}
		<h1>Libros</h1>
		{% for libro in libros %}
			<div>
				<h2>Titulo: {{ libro.titulo }}</h2>
				<p>Editor: {{ libro.editor }}</p>
				<p>Fecha de publicacion: {{ libro.fecha_publicacion }}</p>
				<p>Portada: <img src="media/{{ libro.portada }}" alt="portadas" /></p>
			</div>
		{% endfor %}
		<h1>Autor/es</h1>
		{% for a in autor %}
			<div>
				<h2>Nombre: {{ a.nombre }}</h2>
				<p>Apellidos: {{ a.apellidos }}</p>
				<p>E-mail: {{ a.email }}</p>
			</div>
		{% endfor %}			
{% endblock %}	
</body>
</html>